/*--------------------------------------------------------------
TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 PAGINATION
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 PAGINATION
--------------------------------------------------------------*/

section {
  background-color: white;
  box-shadow: 0 -15px 50px -15px rgba(0,0,0,.08);
  opacity: 1;
  padding-left: 2.25rem;
  padding-right: 2.25rem;
  position: fixed;
  top: 100%;
  left: 0;
  transition: all 250ms ease-in-out;
  transform: translateY(-100%);
  visibility: visible;
  width: 100%;
}

section a {
  display: flex;
  padding-bottom: .75rem;
  padding-top: .75rem;
}

section svg,
section span { align-self: center; }

section svg {
  margin-left: 0;
  margin-right: 0;
}

section span {
  display: flex;
  letter-spacing: .0625rem;
  margin: .75rem 1rem;
  overflow-x: scroll;
  text-transform: uppercase;
  width: 75%;
}

section small {
  display: inline-block;
  flex-shrink: 0;
  margin-left: auto;
  margin-right: auto;
}

.hide {
  opacity: 0;
  visibility: hidden;
}