/*--------------------------------------------------------------
TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 BASE
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 BASE
--------------------------------------------------------------*/

footer {
  line-height: 1.25;
  padding-bottom: 2.25rem;
  padding-top: 2rem;
}

footer a { color: #959595; }

footer p:first-child { margin-bottom: 0; }

footer p:last-child { text-align: right; }