/*--------------------------------------------------------------
TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 360PX
2.0 732PX
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 360PX
--------------------------------------------------------------*/

@media screen and (min-width: 22.5rem) {
  
  /*------------------------------------------------------------
  1.0 BASE
  ------------------------------------------------------------*/
  
  body, h4 { font-size: 1.1487rem; }
  
  /*------------------------------------------------------------
  2.0 SECTION
  ------------------------------------------------------------*/
  
  .picture { height: 11.125rem; }
}

/*--------------------------------------------------------------
2.0 732PX
--------------------------------------------------------------*/

@media screen and (min-width: 45.75rem) {
  
  /*------------------------------------------------------------
  1.0 BASE
  ------------------------------------------------------------*/
  
  body {
    max-width: 45.75rem;
    margin-left: auto;
    margin-right: auto;
  }
  
  /*------------------------------------------------------------
  2.0 SECTION
  ------------------------------------------------------------*/
  
  main {
    margin-left: 0;
    margin-right: 0;
  }
  
  .picture { height: 12rem; }
  
  .detail { padding-right: 1.125rem; }
  
  .section { margin-bottom: .375rem; }
  
  .intro {
    display: block;
    margin-bottom: .25rem;
  }
}