/*--------------------------------------------------------------
TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 360PX
2.0 732PX
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 360PX
--------------------------------------------------------------*/

@media screen and (min-width: 22.5rem) {
  
  /*------------------------------------------------------------
  1.0 BASE
  ------------------------------------------------------------*/
  
  body { font-size: 1.1487rem; }
  
  h1 { font-size: 1.7411rem; }
  
  h2 { font-size: 1.5157rem; }
  
  h3 { font-size: 1.3195rem; }
  
  blockquote p:first-child {
    font-size: 1.3195rem;
    line-height: 1.25;
  }
}

/*--------------------------------------------------------------
2.0 732PX
--------------------------------------------------------------*/

@media screen and (min-width: 45.75rem) {
  
  /*------------------------------------------------------------
  1.0 BASE
  ------------------------------------------------------------*/
  
  body {
    max-width: 45.75rem;
    margin-left: auto;
    margin-right: auto;
  }
    
  figure {
    margin-left: 0;
    margin-right: 0;
  }
}