/*--------------------------------------------------------------
TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 TYPOGRAPHY
  1.1 HEADING
  1.2 CONTENT
2.0 ELEMENTS
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 TYPOGRAPHY
--------------------------------------------------------------*/

h4, p { margin-top: 0; }

/*--------------------------------------------------------------
1.0 TYPOGRAPHY
  1.1 HEADING
--------------------------------------------------------------*/

h4 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: .25rem;
}

/*--------------------------------------------------------------
1.0 TYPOGRAPHY
  1.2 CONTENT
--------------------------------------------------------------*/

p { margin-bottom: 1rem; }

p:last-child { margin-bottom: 0; }

/*--------------------------------------------------------------
3.0 ELEMENTS
--------------------------------------------------------------*/

figure { margin: 0 calc(50% - 50vw); }