/*--------------------------------------------------------------
TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 LAYOUT
2.0 TYPOGRAPHY
  2.1 HEADING
  2.2 CONTENT
  2.3 EMPHASIZE
3.0 ELEMENTS
--------------------------------------------------------------*/

/*--------------------------------------------------------------
2.0 TYPOGRAPHY
  2.1 HEADING
--------------------------------------------------------------*/

h1, h2, h3,
ol, ul, p { margin-top: 0; }

h1, h2, h3 {
  font-weight: 600;
  line-height: 1.125;
  margin-left: -.0625rem;
}

h2, h3 { margin-bottom: 1.125rem; }

h1 {
  font-size: 1.5157rem;
  margin-bottom: .875rem;
}

h2 { font-size: 1.3195rem; }

h3 { font-size: 1.1487rem; }

/*--------------------------------------------------------------
2.0 TYPOGRAPHY
  2.2 CONTENT
--------------------------------------------------------------*/

ol, ul, p { margin-bottom: 1rem; }

ol, ul { padding-left: 1.25rem; }

ul { list-style: none; }

li { margin-bottom: .30625rem; }

ul li::before {
  content: "\00b7";
  font-weight: 600;
  margin-left: -.8125rem;
  margin-right: .5rem;
}

blockquote { margin: 1.25rem 0 1.25rem 1.25rem; }

blockquote::before,
blockquote::after {
  background-color: #eaeaea;
  content: " ";
  display: block;
  margin-left: -1.25rem;
  height: .0625rem;
  width: 5rem;
}

blockquote::before { margin-bottom: 1.125rem; }

blockquote::after { margin-top: 1.125rem; }

blockquote p:first-child {
  font-size: 1.1487rem;
  line-height: 1.35;
  margin-bottom: .75rem;
}

blockquote p:last-child { color: #959595; }

time { letter-spacing: .0625rem; }

ul:last-child,
ol:last-child,
li:last-child,
p:last-child { margin-bottom: 0; }

/*--------------------------------------------------------------
1.0 TYPOGRAPHY
  1.3 EMPHASIZE
--------------------------------------------------------------*/

em { font-style: italic; }

strong { font-weight: 600; }

sup { line-height: 0; }

/*--------------------------------------------------------------
3.0 ELEMENT
--------------------------------------------------------------*/

figure { margin: 2rem calc(50% - 50vw); }

figcaption {
  background-color: #fff;
  box-shadow: 0 10px 50px -15px rgba(0,0,0,.15);
  display: flex;
  margin-left: 2.25rem;
  margin-right: 2.25rem;
  margin-top: -1.5rem;
  padding: .75rem 1.125rem;
  position: relative;
}